<%- include('partials/header.ejs') %>
<h1>Welcome to Mars</h1>
<img src="/img/mars.jpg" />
<ul>
    <li>Mars is the second-smallest planet in the solar system.</li>
    <li>It is the fourth-closest planet to the sun.</li>
    <li>It is a terrestial planet, comprised of minerals and metals. It is the largest of such planets.</li>
    <li>Mars has two known satellites, Phobos and Deimos.</li>
    <li>Water exists within ice in the dirt and in thin clouds.</li>
    <li>Mars has an atosphere, albeit a rather thin one, comprised of carbon dioxide, nitrogen, and argon.</li>
</ul>

<%- include('partials/footer.ejs') %>
