<%- include('partials/header.ejs') %>
<h1>Welcome to Venus</h1>
<img src="/img/venus.jpg" />
<ul>
    <li>Venus is the sixth-largest planet in the solar system.</li>
    <li>It is the second-closest planet to the sun.</li>
    <li>It is a terrestial planet, comprised of minerals and metals.</li>
    <li>Venus has no satellites.</li>
    <li>It is the hottest planet in the solar system, reaching temperatures of up to 900 degrees Fahrenheit.</li>
    <li>Venus is visible from Earth, and is the second brightest object in the sky after the Sun and Moon.</li>
</ul>

<%- include('partials/footer.ejs') %>
